VITE_API_URL = 'http://your-url....com' # On development, http://localhost:<your-port>
VITE_SUPABASE_URL = 'https://your-project.supabase.co' # Project URL
VITE_SUPABASE_KEY = 'sb_publishable_xxx' # Publishable API key, whoose access is limited by your RLS policies