@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('Match.css');

*, *::after, *::before{
    box-sizing: border-box;
}
#root{
    width: 100%;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
}

html{ /* https://coolors.co/palette/3a015c-32004f-220135-190028-11001c /// https://coolors.co/palette/23003a-270040-340452-3d0c5c-451365-4c1c62-41005b-38004f-2f0042-230030 */
    --bgSecondary: #220135;
    --bg: #190028;
    --text: #E7E5E8;
    --green: #27a300; /* 005c00, 2d661b, 2a850e -> https://coolors.co/palette/5c0000-751717-ba0c0c-ff0000-ffebeb-ecffeb-27a300-2a850e-2d661b-005c00 */
    --red: #941b0c;
    --yellow: #f6aa1c;
}

body {
    display: flex;
    background-color: var(--bg);
    color: var(--text);
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
}