@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('Match.css');
@import url('Player.css');

*, *::after, *::before{
    box-sizing: border-box;
}
#root{
    width: 100%;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
}

html{
    --bg: #00111C;
    --bgSecondary: #001A2C;
    --border: #33415C;
    --borderT: #33415C40;
    --borderT2: #43557840;
    --text: #E7E5E8;
    --textT: #E7E5E899;
    --green: #23fed7;
    --greenT: #23fed740;
    --greenT2: #7dffe740;
    --red: #f0615f;
    --yellow: #f6aa1c;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/Ubuntu-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
    display: flex;
    background-color: var(--bg);
    color: var(--text);
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}