@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
}
#root{
    width: 100%;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
}

html{
    --bg: #00111C;
    --bgSecondary: #001A2C;
    --border: #33415C;
    --borderT: #33415C40;
    --borderT2: #43557840;
    --text: #E7E5E8;
    --textT: #E7E5E899;
    --green: #23fed7;
    --greenT: #23fed740;
    --greenT2: #56ffe040;
    --red: #f0615f;
    --redT: #f0615f80;
    --yellow: #f6aa1c;
    --placeholder: #969BA7;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/Ubuntu-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
    display: flex;
    background-color: var(--bg);
    color: var(--text);
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.site{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 65px; */
    padding: 20px;
}

.playerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 1150px;
}

.matchesNFilters{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.left{
    justify-content: left;
}
.right{
    justify-content: right;
}

.kda, .kda span{
    letter-spacing: 0.1px;
}