.matchList{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    background-color: var(--bgSecondary);
    border-radius: 28px 28px 16px 16px;
    border: 1px solid var(--border);
    padding: 20px;
}

.matchDay{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    padding: 8px 20px 4px 0px;
}

.matchDay .date{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 260px;
}

.matchDay .date p{
    font-weight: 450;
    font-size: 1.3rem;
}

.matchDay .date .pill{
    font-weight: 500;
    padding: 6px 8px 6px 8px;
    border: 2px solid var(--text);
    opacity: 0.8;
}

.matchDay .resultField{
    font-size: 1.1rem;
}

.matchDay .statField{
    gap: 1px;
}

.matchDay .statField span{
    font-size: 0.7rem;
}

.matchDay .statField p {
    font-size: 0.95rem;
}

.matchDay p{
    margin: 0;
}

.matchDay .right.side {
    gap: 50px;
    opacity: 0.8;
}

.matches{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100% ;
    padding-bottom: 10px;
    position: relative;
}

.matches::after{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px dotted rgba(255,255,255,0.06);
    opacity: 0.9;
}

.match{
    width: 100%;
    display: flex;
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
    gap: 45px;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: inset -8px 0 8px -8px rgba(0, 0, 0, 0.4);
    height: 83px;
}

.pillContainer{
    /* flex: 1; */
    width: 150px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.pill{
    color: var(--text);
    font-size: 0.75rem;
    white-space: nowrap;
    border: 1px solid var(--text);
    border-radius: 4px;
    display: flex;
    gap: 6px;
    padding: 6px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    overflow: hidden;
    height: 25px;
}

.multpliablePill{
    padding: 0;
    padding-left: 6px;
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

.pillMultiplier{
    width: min-content;
    background-color: var(--yellow);
    color: var(--bg);
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match p{
    margin: 0;
}

.statField{
    text-align: right;
    /* width: 50px; */
}

.kdField{
    width: 100px;
}

.statField span{
    opacity: 0.75;
    font-size: 0.85rem;
}

.statField p{
    font-size: 1.15rem;
}

.side{
    align-items: center;
    display: flex;
    gap: 45px;
}

.resultField{
    text-align: center;
    grid-column: 2;
    align-items: center;
    flex: 1;
}

.matchField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.resultField .resultTitle{
    font-size: 1.35rem;
    font-weight: 500;
    letter-spacing: 1.7px;
    font-family: "Ubuntu", sans-serif;
}

.resultField p{
    font-size: 1.1rem;
}

.matchColorDetail{
    position: absolute;
    width: 8px;
    height: 60%;
    left: 0;
    transform: translateX(-3px);
    background-color: var(--border);
    border-radius: 20px;
}

.rankField{
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}

.rankContainer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}

.rankVariation{
    position: absolute;
    bottom: -5px;
    right: -5px;
}

.rankVariation svg{
    width: 20px;
    height: 20px;
}

.resultRounds{
    display: flex;
}

.resultRounds:first-child{
    text-align: end;
}
.resultRounds:last-child{
    text-align: start;
}

.match .rankIcon{
    width: 45px;
}

.firstMatchInfo{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.agentIcon{
    width: 55px;
    margin-left: 10px;
    filter: drop-shadow(0px 2px 10px var(--bg));
}