.perf{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--bgSecondary);
    border: 1px solid var(--border);
    padding: 14px;
    border-radius: 28px;
}

.perfEl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 14px;
    white-space: nowrap;
}

.perfEl span, .perfEl p{
    margin: 0;
    width: 100%;
    color: var(--text);
}

.perfEl span{
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.75px;
}

.perfEl p{
    font-size: 1.15rem;
    font-weight: 550;
}

.perfEl .agentIcon{
    width: 35px;
    margin-left: 0;
    margin-right: auto;
    filter: none;
}

.mainEl{
    background-color: #33415c1e;
    border-radius: 14px;
    padding: 10px 14px;
}