.perf{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--bgSecondary);
    border: 1px solid var(--border);
    padding: 14px;
    border-radius: 28px;
}

.perfEl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 14px;
    white-space: nowrap;
}

.perfEl h1, .perfEl h2{
    margin: 0;
    width: 100%;
    color: var(--text);
}

.perfEl h1{
    opacity: 0.7;
    font-size: 1rem;
}

.perfEl h2{
    font-size: 1.15rem;
}

.perfEl .agentIcon{
    width: 35px;
    margin-left: 0;
    margin-right: auto;
    filter: none;
}