.playerRank{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerRank{
    /* gap: 25px; */
    transform-origin: bottom center;
    width: 385px;
    justify-content: flex-start;
}

.rankName{
    /* font-size: 1.2rem; */
    font-size: 0.8rem;
    color: var(--text);
    opacity: 0.8;
    margin: 0;
    /* margin-bottom: 17px; */
    width: 100%;
    position: absolute;
    top: -23px;
    font-weight: 450;
}

.rankNameV2{
    font-size: 1.4rem;
    color: var(--text);
    opacity: 0.8;
    margin-bottom: 17px;
    width: 100%;
    font-weight: 450;
}

.rankHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rankHeader.vertical{
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
}

.rankHeader.horizontal{
    flex-direction: row;
    gap: 10px;
    margin-bottom: 25px;
}

.rankHeader.vertical .rankIcon{
    width: 120px;
}

.rankHeader.horizontal .rankIcon{
    width: 65px;
}

.rankTitle{
    font-family: "Ubuntu", sans-serif;
    font-weight: 550;
    letter-spacing: 1.7px;
    font-size: 1.9rem;
    margin: 0;
}

.rankProgress{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    position: relative;
}

.progressBarContainer{
    display: flex;
    /* gap: 100px; */
    align-items: center;
    position: relative;
}

.shield{
    margin: 0;
    position: absolute;
    left: -30px;
    width: 22px;
}

.rrContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8rem;
}

.rr{
    margin: 0;
    color: var(--green);
    letter-spacing: 1.2px;
}

.rrContainer span{
    color: var(--text);
    opacity: 0.8;
}

.progressBar{
    background-color: var(--textT);
    height: 10px;
    width: 380px; 
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
}

.progressBarInner{
    transform-origin: left;
    position: absolute;
    height: 4px;
    left: 4px;
}

.btn{
    font-family: "Lexend", sans-serif;
    border-radius: 8px;
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.15s;
}

.toggleBtn{
    font-size: 1.2rem;
    gap: 6px;
    background-color: var(--text);
    color: var(--border);
    padding: 2px;
    padding-left: 6px;
}

.toggleBtnInner{
    padding: 6px;
    border: 0;
    border-radius: 10px;
    color: var(--text);
    background-color: var(--border);
    transition: 0.15s;
}

.toggleBtn:hover .toggleBtnInner{
    background-color: var(--bg);
}

.toggleBtn .svgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: min-content;
    transition: 0.15s all ease-out;
    color: var(--border);
}

.toggleBtn:hover .toggleBtnInner .svgContainer{
    color: var(--bg);
}

.controlsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.switchPlayersBtn{
    font-family: "Lexend", sans-serif;
    border-radius: 12px;
    border: 0;
    outline: 0;
    align-items: center;
    justify-content: center;
    transition: 0.15s;

    height: 32px;
    width: 32px;
    color: var(--border);
    background-color: var(--text);
    display: flex;
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.9);
}

.btn:active{
    filter: brightness(1);
}

.btn:hover:disabled{
    filter: none;
}

.btn:active:disabled{
    filter: none;
}

@keyframes fakeLoadRRBar {
  0%   { transform: scaleX(0); }
  40%  { transform: scaleX(0.6); }
  70%  { transform: scaleX(0.85); }
  90%  { transform: scaleX(0.95); }
  100% { transform: scaleX(0.98); }
}