.modalContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    place-items: center;
}

.searchModal form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.searchModal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--borderT2);
    padding: 50px;
    border-radius: 58px;
}

.inputField{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inputField label{
    position: absolute;
    left: 0;
    top: -25px;
    font-size: 1rem;
    color: var(--text);
}

.inputField span{
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 0.85rem;
    color: var(--placeholder);
}

.playerInput{
    font-family: "Lexend", sans-serif;
    height: 32px;
    font-size: 1.2rem;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    border: 0;
    color: var(--bg);
    background-color: var(--text);
}

.playerInput::placeholder{
    color: var(--placeholder);
    user-select: none;
}

.submitBtn{
    gap: 6px;
    height: 40px;
    color: var(--bg);
    background-color: var(--green);
    font-size: 1.4rem;
    padding: 8px;
    grid-column: 3;
    cursor: auto;
    opacity: 0.55;
    cursor: pointer;
    opacity: 1;
}

/* .submitBtn > *{
    position: relative;
    z-index: 1;
} */

.submitBtnContainer{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.progress{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--green);
    opacity: 0.45;
    z-index: 0;
    animation: fakeLoadSubmit 1.3s cubic-bezier(.3,.8,.3,1) forwards;
    z-index: -1;
}

@keyframes fakeLoadSubmit {
  0%   { width: 0%; }
  40%  { width: 60%; }
  70%  { width: 85%; }
  90%  { width: 95%; }
  100% { width: 98%; }
}