HENRIKDEV_ACCESS_TOKEN = 'HDEV-your_access_token'
SUPABASE_URL = 'https://your_url.supabase.co' # Project URL
SUPABASE_SECRET = 'sb_secret_your_secret' # Secret key (found in Settings)
PORT = '3000' # Port for the API server
POLLING = 'true' # Set to false if you don't want the server to poll players
POLLING_INTERVAL= '180000' # Time in ms between each poll
PLAYER_SYNC_INTERVAL= '180000' # Time in ms between each player sync
LOG_TIMEZONE= 'America/Argentina/Buenos_Aires' # Timezone for log timestamps (if not set, defaults to UTC)