HENRIKDEV_ACCESS_TOKEN = 'HDEV-your_access_token'
SUPABASE_URL = 'https://your_url.supabase.co' # Project URL
SUPABASE_SECRET = 'sb_secret_your_secret' # Secret key (found in Settings)
POLLING = true # Set to false if you don't want the server to poll for new matches
PORT = 3000 # Port for the API server